---
http_interactions:
- request:
    method: post
    uri: https://api.routific.com/v1/fix
    body:
      encoding: UTF-8
      string: '{"visits":{"order_1":{"start":"9:00","end":"12:00","duration":10,"location":{"name":"6800
        Cambie","lat":49.227107,"lng":-123.1163085}},"order_2":{"start":"9:00","end":"12:00","duration":10,"location":{"name":"6800
        Cambie","lat":49.227107,"lng":-123.1163085}}},"fleet":{"vehicle_1":{"start_location":{"name":"800
        Kingsway","lat":49.2553636,"lng":-123.0873365},"end_location":{"name":"800
        Kingsway","lat":49.2553636,"lng":-123.0873365},"shift_start":"8:00","shift_end":"12:00"},"vehicle_2":{"start_location":{"name":"800
        Kingsway","lat":49.2553636,"lng":-123.0873365},"end_location":{"name":"800
        Kingsway","lat":49.2553636,"lng":-123.0873365},"shift_start":"8:00","shift_end":"12:00"}},"solution":{"vehicle_1":["order_1"]},"unserved":["order_2"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJfaWQiOiI1M2NmZjVkOWI4OTUxNTA4MDA5NzNjNTYiLCJpYXQiOjE0MDYxMzc4MTd9.yOX4fklzcG8O82fNWkDJ_slCDazctjGCDGYgvUqXhzw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 199 ms
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","total_travel_time":19,"total_idle_time":0,"total_break_time":0,"num_unserved":0,"unserved":null,"solution":{"vehicle_1":[{"location_id":"vehicle_1_start","location_name":"800
        Kingsway","arrival_time":"08:49"},{"location_id":"order_2","location_name":"6800
        Cambie","arrival_time":"09:00","finish_time":"09:10"},{"location_id":"order_1","location_name":"6800
        Cambie","arrival_time":"09:10","finish_time":"09:20"},{"location_id":"vehicle_1_end","location_name":"800
        Kingsway","arrival_time":"09:29"}],"vehicle_2":[{"location_id":"vehicle_2_start","location_name":"800
        Kingsway","arrival_time":"08:00"},{"location_id":"vehicle_2_end","location_name":"800
        Kingsway","arrival_time":"08:00"}]},"total_working_time":39}'
  recorded_at: Mon, 15 May 2017 18:21:15 GMT
recorded_with: VCR 3.0.3
