---
http_interactions:
- request:
    method: post
    uri: https://api.routific.com/v1/vrp
    body:
      encoding: UTF-8
      string: '{"visits":{"order_1":{"start":"9:00","end":"10:00","duration":15,"location":{"name":"6800
        Cambie","lat":49.227107,"lng":-123.1163085}},"order_2":{"start":"12:00","end":"13:00","duration":15,"location":{"name":"6800
        Cambie","lat":49.227107,"lng":-123.1163085}}},"fleet":{"vehicle_1":{"start_location":{"name":"800
        Kingsway","lat":49.2553636,"lng":-123.0873365},"end_location":{"name":"800
        Kingsway","lat":49.2553636,"lng":-123.0873365},"shift_start":"8:00","shift_end":"13:00"}},"options":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJfaWQiOiI1M2NmZjVkOWI4OTUxNTA4MDA5NzNjNTYiLCJpYXQiOjE0MDYxMzc4MTd9.yOX4fklzcG8O82fNWkDJ_slCDazctjGCDGYgvUqXhzw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 216 ms
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","total_travel_time":19,"total_idle_time":120,"total_break_time":0,"num_unserved":0,"unserved":null,"solution":{"vehicle_1":[{"location_id":"vehicle_1_start","location_name":"800
        Kingsway","arrival_time":"09:34"},{"location_id":"order_1","location_name":"6800
        Cambie","arrival_time":"09:45","finish_time":"10:00"},{"location_id":"order_2","location_name":"6800
        Cambie","arrival_time":"10:00","idle_time":120,"finish_time":"12:15"},{"location_id":"vehicle_1_end","location_name":"800
        Kingsway","arrival_time":"12:24"}]},"total_working_time":169}'
  recorded_at: Mon, 15 May 2017 18:21:14 GMT
recorded_with: VCR 3.0.3
